@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4">Welcome to the samples for pr0sharp</h1>
<p>Before using the samples, you need to make sure you have set up your ClientID and ClientSecret in appsettings.development.json as stated in the Readme</p>
<p>If everything is set up correctly, proceed to login with pr0gramm.com to view and use the samples</p>
<p><a asp-controller="Oauth" asp-action="Initiate">Continue to login with pr0gramm.com</a></p>
